@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --button-color:#fed7aa;
    --border-color:#ea580c;
    --background-color:#fff7ed;
}

*{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

h3{
    margin: 3rem auto 2.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}

label{
  display:block;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight:500;
}

input{
   display:block;
   margin: 0.2rem auto 1rem;
   width: 25vw;
   height: 2rem;
   border: 1px solid var(--border-color);
   border-radius: 2.5px;
   text-align:center;
   font-size:large;
}

button{
   display:block;
   margin: 2rem auto 1rem;
   width: 5rem;
   padding: 0.2rem;
   font-size: 1rem;
   border:1px solid var(--border-color);
   background-color: var(--button-color);
   border-radius: 2.5px;
}

p#result{
   display:block;
   margin: 2rem auto;
   text-align: center;
   font-size:large;
}

a{
    text-decoration: none;
}

footer{
    position:absolute;
    bottom:1.2rem;
    width: 100vw;
}

footer div{
    margin:0 auto;
    text-align:center;
}









